/* ------------------------------------------ */
/* HEADER */
/* ------------------------------------------ */
.main-header {
  background-image: linear-gradient(rgba(0,0,0,.7), rgba(0,0,0,.7)), url(../img/foodbackground.jpg);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: $white;
  height: 100vh;
  position: relative;
}

.header-text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: $row-width;

  @include respond-to(medium) {
    padding: 0 2%;
    width: 100%;
  };
  
  @include respond-to(x-small) {
    padding: 0 4%;
  }

  p {
    font-size: 2.8rem;
    margin: .5em 0;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    word-spacing: 4px;
    @include respond-to(small) {
      font-size: 2.4rem;
    };

    @include respond-to(x-small) {
      font-size: 1.8rem;
    }
  }

  span {
    display: block;
  }
}


.header-nav {
  @extend .clearfix;
  
  font-size: .9rem;
  padding-top: 1rem;
  width: 100%;

  &--fixed {
    position: fixed;
    top: 0;
    left: 0;
    padding: 0;
    color: black;
    font-size: rem(15px);
    box-shadow: 0 1px 2px  rgba(0, 0, 0, .3);
    background-color: rgba(255, 255, 255, .98);
    z-index: 100;
    
    .header-nav__logo {
      width: rem(50px);
      margin: 5px 0;

      .logo-white {
        display: none;
      }
      .logo-black {
        display: block;
      }
    }

    .hd-list {
      padding-top: rem(22px);
    }

  }
  
  &__logo {
    display: block;
    width: 100px;
    float: left;

    .logo-white {
      display: block;
    }

    .logo-black {
      display: none;
    }

    @include respond-to(small) {
    }
  }

  img {
    display: block;
    max-width: 100%;
  }
}

.hd-list {
  float: right;
  list-style: none;
  padding-top: 37px;
  font-size: 0;

  .header-nav & {
    @include respond-to(small) {
      float: left;
      padding-top: .5rem;
    };
  }

  @include respond-to(small) {
    display: none;
    padding-left: 2rem;
  }

  li {

    font-size: 1rem;
    display: inline-block;
    text-transform: uppercase;

    @include respond-to(small) {
      display: block;
    }

    .header-nav--fixed & {
      font-size: rem(15px);

      a {
        color: $black;
      }
    }

    a {
      transition: .3s border-bottom;
      padding: 8px 0;
      border-bottom: 2px solid transparent;
      display: inline-block; 

      &.active {
        border-bottom-color: $color--primary;
      }
      
      &:hover {
        border-bottom-color: $color--primary;
      }

      @include respond-to(small) {
        border: 0;
      }

    }
    + li {
      margin-left: rem(40px);

      @include respond-to(small) {
        margin-left: 0;
      };

    }
  }
}

.header-nav__btn {
  display: none;

  i {
    cursor: pointer;
  }

  @include respond-to(small) {
    display: block;
    float: right;
    font-size: 2em;
    margin-top: 0.4em; 
  };
}
