//_section-contacts.scss

/* ------------------------------------------ */
/* Contacts section */
/* ------------------------------------------ */

.section-contacts {
  @extend .clearfix;
  // background-image: url(../img/contact-map.png);
  // background-position: center left;
  // background-size: cover;
  background-color: #fff;
}

.contacts-map {
  width: 50%;
  float: left;
  height: 500px;
  margin-top: 0;
  margin-bottom: 0;

  @include respond-to(x-small) {
    width: 100%;
    float: none;
  };
}

.form-box {
  background-color: rgba(255, 255, 255, .9);
  float: right;
  padding: rem(50px) 0;
  width: 50%;

  @include respond-to(x-small) {
    width: 100%;
    float: none;
  };

  h2 {
    padding-left: 5%;
    padding-right: 5%;
  }

  form {
    margin: 0 rem(30px);
  }
}

input[type="text"],
input[type="email"],
textarea,
select {
  border: 1px solid $form-element-color--default;
  border-radius: rem(3px);
  padding: rem(7px);
  width: 100%;
}

textarea {
  resize: none;
}

input[type='email'],
input[type='submit'],
input[type='text'],
textarea,
button,
option,
select {
  font-size: 1rem;
  font-weight: 300;
  outline: none;
}


input[type='checkbox'] {
  margin: 10px 5px 10px 0;
}

