<footer class="main-footer">
  <div class="row group">

    <div class="col span_1_of_2">
      <ul class="footer-nav">
        <li class="footer-nav-item"><a href="#">About us</a></li>
        <li class="footer-nav-item"><a href="#">Blog</a></li>
        <li class="footer-nav-item"><a href="#">Press</a></li>
        <li class="footer-nav-item"><a href="#">iOS App</a></li>
        <li class="footer-nav-item"><a href="#">Android App</a></li>
      </ul>
    </div>
    
    <div class="col span_1_of_2">
      <ul class="footer-social">
        <li><a href="#facebook"><i class="ion-social-facebook"></i></a></li>
        <li><a href="#twitter"><i class="ion-social-twitter"></i></a></li>
        <li><a href="#google-plus"><i class="ion-social-googleplus"></i></a></li>
        <li><a href="#instagram"><i class="ion-social-instagram"></i></a></li>
      </ul>
    </div>

  </div>
  <div class="row">
    <p class="footer-text">
      2017 - build by 
      <a href="https://github.com/sad-senpai">sad-senpai</a>
    </p>
  </div>
</footer>