
c:/users/hentai/appdata/local/temp/SublimeLinter3-hentai/_buttons.scss
   6:3  warning  Expected `display`, found `cursor`                            property-sort-order
  19:5  error    Mixins should come before declarations                        mixins-before-declarations
  20:7  warning  Expected `margin`, found `margin-left`                        property-sort-order
  21:7  error    Values for properties of type 'margin' may only be variables  variable-for-property

✖ 4 problems (2 errors, 2 warnings)
